@inject SignInManager<GadgetCMSUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column nav-fill">
        <a class="nav-item nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
        <a class="nav-item nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
        <a class="nav-item nav-link @ManageNavPages.MyReviewsNavClass(ViewContext)" id="change-password" asp-page="./MyReviews">My Reviews</a>
    @if (hasExternalLogins)
    {
            <a id="external-login" class="nav-item nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a>
    }
        <a class="nav-item nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
        <a class="nav-item nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a>
</ul>
