@page
@model GadgetCMS.Pages.Parameter.DetailsModel
@inject SignInManager<GadgetCMS.Areas.Identity.Data.GadgetCMSUser> SignInManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Parameter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter.ParameterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parameter.ParameterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter.ParameterDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parameter.ParameterDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter.ParameterUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parameter.ParameterUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parameter.ParentParameter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parameter.ParentParameter.ParentParameterName)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("Editor"))
        {
            <a asp-page="/Parameter/Edit" asp-route-id="@Model.Parameter.ParentParameter.ParentParameterId" asp-area="Dashboard">Edit</a>
            <text> | </text>
            <a asp-page="/Parameters" asp-area="Dashboard">Back to List</a>
        }
    }
</div>
