@page
@model GadgetCMS.Pages.Parameter.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parameter[0].ParameterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parameter[0].ParameterDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parameter[0].ParameterUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parameter[0].ParentParameter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Parameter) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentParameter.ParentParameterDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ParameterId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ParameterId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ParameterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
