@page
@model GadgetCMS.Pages.ParentParameter.DetailsModel
@inject SignInManager<GadgetCMS.Areas.Identity.Data.GadgetCMSUser> SignInManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ParentParameter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ParentParameter.ParentParameterName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ParentParameter.ParentParameterName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ParentParameter.ParentParameterDescription)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ParentParameter.ParentParameterDescription)
        </dd>
    </dl>
    <h3>@Html.DisplayNameFor(model => model.ParentParameter.Parameters)</h3>
    <div class="table-responsive">
        <table class="table" id="parameterTable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Parameter Name</th>
                    <th scope="col">Parameter Description</th>
                    <th scope="col">Parameter Unit</th>
                </tr>
            </thead>
            <tbody>
                @for (var j = 0; j < Model.ParentParameter.Parameters.Count; j++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(Model => Model.ParentParameter.Parameters[j].ParameterName)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => Model.ParentParameter.Parameters[j].ParameterDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => Model.ParentParameter.Parameters[j].ParameterUnit)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.IsInRole("Editor"))
        {
            <a asp-page="/Parameter/Edit" asp-route-id="@Model.ParentParameter.ParentParameterId" asp-area="Dashboard">Edit</a>
            <text> | </text>
            <a asp-page="/Parameters" asp-area="Dashboard">Back to List</a>
        }
    }            
</div>
