@page
@model GadgetCMS.Pages.ParentParameter.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "../Shared/_Layout.cshtml";
    var pName = new List<string>();
    var pDesc = new List<string>();
    var pUnit = new List<string>();
    var pError = false;
    if (ViewBag.PError != null)
    {
        pName = ViewBag.PName;
        pDesc = ViewBag.PDesc;
        pUnit = ViewBag.PUnit;
        pError = true;
    }
}

<h3>Edit</h3>

<h4>ParentParameter</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" id="ppCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParentParameter.ParentParameterId" />
            <input type="hidden" value="@Model.Parameters.Count" id="paramCount" name="paramCount" />
            <div class="form-group">
                <label asp-for="ParentParameter.ParentParameterName" class="control-label"></label>
                <input asp-for="ParentParameter.ParentParameterName" class="form-control" />
                <span asp-validation-for="ParentParameter.ParentParameterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentParameter.ParentParameterDescription" class="control-label"></label>
                <input asp-for="ParentParameter.ParentParameterDescription" class="form-control" />
                <span asp-validation-for="ParentParameter.ParentParameterDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>Update Parameters</h3>
                    </div>
                    <div class="col-sm-9"></div>
                </div>
                <div class="table-responsive">
                    <table class="table" id="parameterTable">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Parameter Name</th>
                                <th scope="col">Parameter Description</th>
                                <th scope="col">Parameter Unit</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var j = 0; j < Model.Parameters.Count; j++)
                            {
                                <tr>
                                    <td>
                                        <input asp-for="@Model.Parameters[j].ParameterId" value="@Model.Parameters[j].ParameterId" type="hidden" />
                                        <input asp-for="@Model.Parameters[j].ParentParameterId" value="@Model.Parameters[j].ParentParameterId" type="hidden" />
                                        <input asp-for="@Model.Parameters[j].ParameterName" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Parameters[j].ParameterDescription" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Parameters[j].ParameterUnit" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btnDelete"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>Add Parameters</h3>
                        <span id="parameterError" class="text-danger">
                            @if (pError == true)
                            {
                                <text>@ViewBag.PError</text>
                            }
                        </span>
                    </div>
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-primary" onclick="addRow()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table" id="parameterAddTable">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Parameter Name</th>
                                <th scope="col">Parameter Description</th>
                                <th scope="col">Parameter Unit</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="parameterBody">
                            @{
                                if (pError == true)
                                {
                                    for (int i = 0; i < pName.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input asp-for="ParentParameter.Parameters.First().ParameterName" class="form-control" value="@pName.ElementAt(i)" />
                                            </td>
                                            <td>
                                                <input asp-for="ParentParameter.Parameters.First().ParameterDescription" class="form-control" value="@pName.ElementAt(i)" />
                                            </td>
                                            <td>
                                                <input asp-for="ParentParameter.Parameters.First().ParameterUnit" class="form-control" value="@pName.ElementAt(i)" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btnDelete"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="deletedParams">

            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Parameters">Back to List</a>
</div>

<script type="text/html" id="rowTemplate">
    <tr>
        <td>
            <input class="form-control" type="text" data-val="true" data-val-required="The Paramerter Name field is required." id="ParameterName" name="ParameterName" value="">
        </td>
        <td>
            <input class="form-control" type="text" data-val="true" data-val-required="The Paramerter Description field is required." id="ParameterDescription" name="ParameterDescription" value="">
        </td>
        <td>
            <input class="form-control" type="text" data-val="true" data-val-required="The Paramerter Unit field is required." id="ParameterUnit" name="ParameterUnit" value="">
        </td>
        <td>
            <button type="button" class="btn btn-danger btnDelete"><i class="fa fa-minus" aria-hidden="true"></i></button>
        </td>
    </tr>    
</script>
<script>
    function addRow() {
        var template = $('#rowTemplate').html();
        $('#parameterBody').append(template);
    }
    $("#parameterTable").on('click', '.btnDelete', function () {
        var temp = $(this).closest('tr').find('input[type="hidden"]').val();
        $(this).closest('tr').find('input[type="text"]').val("abc");
        $(this).closest('tr').hide();
        var template = "<input type='hidden' name='DelParams' id='DelParams' value='" + temp + "' />";
        $('#deletedParams').append(template);
    });

    $("#parameterAddTable").on('click', '.btnDelete', function () {
        $(this).closest('tr').remove();
    });

    $("#ppCreate").submit(function () {
        var isValid = true;
        $('input[type="text"]').each(function () {
            if ($.trim($(this).val()) == '') {
                isValid = false;
                $(this).addClass("is-invalid");
            }
        });
        return isValid;
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
