@page
@model GadgetCMS.Pages.Article.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
@{
    if (ViewBag.ViewType != null)
    {
        if (ViewBag.ViewType == "Company")
        {
            <div>
                @await Component.InvokeAsync("CategoryNames", "0")
            </div>
            <div>
                @await Component.InvokeAsync("CompanyNames", Model.Article[0].CategoryId)
            </div>
            ViewBag.ViewType = null;
        }
        if (ViewBag.ViewType == "Category")
        {
            <div>
                @await Component.InvokeAsync("CategoryNames", "0")
            </div>
            <div>
                @await Component.InvokeAsync("CompanyNames", 0)
            </div>
            ViewBag.ViewType = null;
        }
    }
    else
    {
        <div>
            @await Component.InvokeAsync("CategoryNames", "0")
        </div>
        <div>
            @await Component.InvokeAsync("CompanyNames", 0)
        </div>
    }
}
<table class="table-responsive table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].ArticleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].ArticleLastUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].ArticleCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].ArticleContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].ArticleAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].ArticleLastEditedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].ArticleVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].ArticleEditLock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleLastUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleAuthor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleLastEditedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleVisible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleEditLock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ArticleId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ArticleId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ArticleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
