@page
@model GadgetCMS.Pages.Article.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!--Yash-->
@*<div class="row">
    <div class="col-md-5">
        <h1>
            Article <small class="text-muted">
                @if (ViewBag.ViewType != null)
                {
                    if (ViewBag.ViewType == "Category")
                    {
                        <text>- @Model.Article[0].Category.CategoryName</text>
                    }
                    else if (ViewBag.ViewType == "Company")
                    {
                        <text>- @ViewBag.Company</text>
                    }
                }
            </small>
        </h1>
    </div>
    <div class="col-md-7">
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Sort Articles</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Recent</a>
                    <a class="dropdown-item" href="#">Popular</a>
                    <a class="dropdown-item" href="#">Rating</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Compare</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="./Create">Create New</a>
            </li>
            @if (ViewBag.ViewType != null)
            {
                <li class="nav-item">
                    <a class="nav-link bg-danger text-white" asp-page="./Index">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Clear Filters
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @foreach (var item in Model.Article)
        {
            if (item.ArticleVisible == true)
            {
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.DisplayFor(modelItem => item.ArticleAuthor)
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DisplayFor(modelItem => item.ArticleCreated)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a asp-page="./Details" asp-route-id="@item.ArticleId">@item.ArticleName</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 d-flex justify-content-center">
                                @{
                                    var base64 = Convert.ToBase64String(item.ArticlePictures.First().ArticlePictureBytes);
                                    var imgSrc = $"data:image/gif;base64,{base64}";
                                }
                                <img src="@imgSrc" class="img-fluid" style="height:100px" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-4">
        @{
            if (ViewBag.ViewType != null)
            {
                if (ViewBag.ViewType == "Company")
                {
                    <div class="row">
                        <div class="col-sm-12">
                            @await Component.InvokeAsync("CategoryNames", ViewBag.Company)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @await Component.InvokeAsync("CompanyNames", 0)
                        </div>
                    </div>
                    ViewBag.ViewType = null;
                }
                if (ViewBag.ViewType == "Category")
                {
                    <div class="row">
                        <div class="col-sm-12">
                            @await Component.InvokeAsync("CategoryNames", "0")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @await Component.InvokeAsync("CompanyNames", Model.Article[0].CategoryId)
                        </div>
                    </div>
                    ViewBag.ViewType = null;
                }
            }
            else
            {
                <div class="row">
                    <div class="col-sm-12">
                        @await Component.InvokeAsync("CategoryNames", "0")
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @await Component.InvokeAsync("CompanyNames", 0)
                    </div>
                </div>
            }
        }
    </div>
</div>*@

<!--Alkesh-->
<div class="input-group mb-3">
    @*<form>*@
    @*<label asp-for="Article.CategoryId" class="control-label"></label>*@
    <select asp-for="Article.CategoryId" class="form-control custom-select" name="Category" id="SelectCategory" asp-items="ViewBag.CategoryId"></select>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="submit">Select</button>
    </div>
    @*<button class="btn btn-primary" id="submit"> Submit </button>*@
    <button class="btn btn-primary" id="btn_FiltersApply">Apply</button>
    @*</form>*@

</div>

<div class="row">

    <div class="col-md-8 card" id="ArList">

    </div>
    <div class="col-md-4 card" id="FilList">

    </div>

</div>


@section scripts{
    <script>
            $(function () {

                $('#submit').on('click', function () {
                    var categorySelect = document.getElementById('SelectCategory').value;
                    $('#ArList').load('/Article/Index?handler=SelectCategory&&categorySelection=' + categorySelect);
                    $('#FilList').load('/Article/Index?handler=FilterArticles&&categorySelection=' + categorySelect);

                    return false;

                });
                $('#btn_FiltersApply').on('click',
                    function () {
                        var categorySelect = document.getElementById('SelectCategory').value;
                        var userselectedvalues = '';
                        var values = document.getElementById('checkboxcount').value;
                        for (var i = 0; i < values; i++) {
                            if (document.getElementById('CheckboxCheck' + i).checked === true) {
                                userselectedvalues += document.getElementById('CheckboxCheck' + i).value + ";";
                            }
                        }
                        userselectedvalues = userselectedvalues.replace(/\s/g, "%20");
                        $('#ArList').load('/Article/Index?handler=FilterArticlesFinal&&categorySelection=' + categorySelect + '&&values=' +
                            userselectedvalues);
                        return false;
                    });
            });


    </script>

}