@page
@model GadgetCMS.Areas.Dashboard.Pages.ManageUsers.IndexModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
<h2>User Management</h2>
<h5>Users with Member Role</h5>
<div class="table-responsive">
    <table class="table align-items-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    User Email
                </th>
                <th scope="col">
                    Change Role
                </th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UsersOfRoleMember)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <form method="POST">
                            <select name="Roles" asp-items="@new SelectList(Model.Roles)" id="roleSelect"></select>
                            <input type="hidden" name="UserID" value="@Html.DisplayFor(modelItem => item.Id)" />
                            <input type="hidden" name="curRole" value="Member" />
                            <input type="submit" value="Save" class="btn btn-primary btn-no-margin btn-sm" />
                        </form>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a class="btn btn-icon-only text-light btn-no-margin" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<h5>Users with Editor Role</h5>
<div class="table-responsive">
    <table class="table align-items-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    User Email
                </th>
                <th scope="col">
                    Change Role
                </th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UsersOfRoleEditor)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <form method="POST">
                            <select name="Roles" asp-items="@new SelectList(Model.Roles)" id="roleSelect"></select>
                            <input type="hidden" name="UserID" value="@Html.DisplayFor(modelItem => item.Id)" />
                            <input type="hidden" name="curRole" value="Editor" />
                            <input type="submit" value="Save" class="btn btn-primary btn-no-margin btn-sm" />
                        </form>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a class="btn btn-icon-only text-light btn-no-margin" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<h5>Users with Moderator Role</h5>
<div class="table-responsive">
    <table class="table align-items-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    User Email
                </th>
                <th scope="col">
                    Change Role
                </th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UsersOfRoleModerator)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <form method="POST">
                            <select name="Roles" asp-items="@new SelectList(Model.Roles)" id="roleSelect"></select>
                            <input type="hidden" name="UserID" value="@Html.DisplayFor(modelItem => item.Id)" />
                            <input type="hidden" name="curRole" value="Moderator" />
                            <input type="submit" value="Save" class="btn btn-primary btn-no-margin btn-sm" />
                        </form>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a class="btn btn-icon-only text-light btn-no-margin" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<h5>Users with Admin Role</h5>
<div class="table-responsive">
    <table class="table align-items-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    User Email
                </th>
                <th scope="col">
                    Change Role
                </th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UsersOfRoleAdmin)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (item.Email == Model.CurUser.Email)
                        {
                            <label>Admin</label>
                        }
                        else
                        {
                            <form method="POST">
                                <select name="Roles" asp-items="@new SelectList(Model.Roles)" id="roleSelect"></select>
                                <input type="hidden" name="UserID" value="@Html.DisplayFor(modelItem => item.Id)"/>
                                <input type="hidden" name="curRole" value="Admin"/>
                                <input type="submit" value="Save" class="btn btn-primary btn-no-margin btn-sm"/>
                            </form>
                        }
                    </td>
                    @*<td class="text-right">
                        <div class="dropdown">
                            <a class="btn btn-icon-only text-light btn-no-margin" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>