@page
@model GadgetCMS.Areas.Dashboard.Pages.ManageUsers.IndexModel
@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "User Management";
}
<h2>User Management</h2>
<form asp-page="./ManageUsers" method="get" class="form-inline">
    <div class="form-actions no-color">
        <p>
            <div class="form-group">
                <label class="label mr-2">Find by Email </label>
                <input type="text" class="form-control" name="SearchString" value="@Model.CurrentFilter" placeholder="Enter Email..."/>
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-page="./ManageUsers">Back to full List</a>
            </div>
        </p>
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    <a asp-page="./ManageUsers" asp-route-sortOrder="@Model.EmailSort" asp-route-currentFilter="@Model.CurrentFilter">
                        Email
                    </a>
                </th>
                <th scope="col">
                    <a asp-page="./ManageUsers" asp-route-sortOrder="@Model.RoleSort" asp-route-currentFilter="@Model.CurrentFilter">
                        Role
                    </a>
                </th>
                <th scope="col">
                    Change Role
                </th>
                <th scope="col">
                    <a asp-page="./ManageUsers" asp-route-sortOrder="@Model.BanSort" asp-route-currentFilter="@Model.CurrentFilter">
                        Ban/Unban User
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserWithRoles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.UserEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.UserRole)
                    </td>
                    @if ((item.UserRole == "Admin" || item.UserRole == "Moderator") && Model.CurUserRole.FirstOrDefault() == "Moderator")
                    {
                        <td></td>
                        <td></td>
                    }
                    else
                    {
                        <td>
                            @if (item.UserEmail != Model.CurUserEmail && Model.CurUserRole.FirstOrDefault() == "Admin")
                            {
                                <form method="POST" class="form-inline">
                                    <div class="form-group mr-1">
                                        <select name="Roles" asp-items="@new SelectList(Model.Roles)" id="roleSelect" class="custom-select custom-select-sm"></select>
                                    </div>
                                    <input type="hidden" name="UserID" value="@item.UserId" />
                                    <input type="hidden" name="curRole" value="@item.UserRole" />
                                    <input type="submit" value="Save" class="btn btn-primary btn-no-margin btn-sm" />
                                </form>
                            }
                        </td>
                        <td>
                            @if (item.UserBan == false && item.UserEmail != Model.CurUserEmail)
                            {
                                <form method="post">
                                    <input type="hidden" name="UserID" value="@item.UserId" />
                                    <button type="submit" class="btn btn-danger btn-sm" asp-page-handler="BanUser">Ban</button>
                                </form>
                            }
                            else if (item.UserEmail != Model.CurUserEmail)
                            {
                                <form method="post">
                                    <input type="hidden" name="UserID" value="@item.UserId" />
                                    <button type="submit" class="btn btn-success btn-sm" asp-page-handler="UnbanUser">Unban</button>
                                </form>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@{
    var prevDisabled = !Model.UserWithRoles.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.UserWithRoles.HasNextPage ? "disabled" : "";
}

<a asp-page="./ManageUsers"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.UserWithRoles.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./ManageUsers"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.UserWithRoles.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @nextDisabled">
    Next
</a>
