@model List<Data.Article>
@{
    Data.Article articles = new Data.Article();

}

@if (Model.FirstOrDefault() == null)
{
    <h6>No Popular Articles ATM.</h6>
}
else
{
    @foreach (var reviewsFE in Model)
    {

        <div class="card mb-2">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-8">
                                <p>@reviewsFE.ArticleAuthor</p>
                            </div>
                            <div class="col-sm-4">
                                <p>@reviewsFE.ArticleCreated.ToShortDateString()</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="font-weight-bold"><a asp-page="./Article/Details" asp-route-id="@reviewsFE.ArticleId">@reviewsFE.ArticleName</a></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-muted">@reviewsFE.ArticleSubtitle</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="row">
                            <div class="col-sm-12">
                                @{
                                    var base64 = Convert.ToBase64String(reviewsFE.ArticlePictures.First().ArticlePictureBytes);
                                    var imgSrc = $"data:image/gif;base64,{base64}";
                                }
                                <img src="@imgSrc" class="img-fluid" style="height:100px;" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        @*<h6>@reviewsFE.ArticleName</h6>*@
        @*<ul>
                <li><a href="#">Edit</a></li>
            </ul>*@
        <hr width="80%" />

    }
    <button type="button" class="btn btn-primary  position-right" id="btn_popularKnowMore">Know More</button>
}
